:root {
    --clr-white: #FFFFFF;
    --clr-body-bg-dark: #0B2434;
    --clr-text-main: #4A4E74;
    --clr-container-bg: #F5F5F5;
    --clr-heading: #2B283A;
    --clr-time-green: #49b172;
    --clr-time-shadow: #d9d5f0;
    --clr-btn-green: #59E391;
    --clr-btn-roll: #5035FF;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-white);
    color: var(--clr-text-main);
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-body-bg-dark);
}

.game-container{
    width: 390px;
    height: 520px;
    background-color: var(--clr-container-bg);
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

header h1 {
    padding-top: 2.0625em;
    padding-bottom: 0.2em;
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-heading);
    line-height: 100%;
    letter-spacing: -0.03em;
}

header p {
    width: 15.56rem;
    padding-top: 1em;
    margin: auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.03em;
}

main {
    width: 100%;
    padding: 0 2.125em;
    margin: 2rem auto;
    
}
section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: auto;
    gap: 1.125em;
}

.time{
    font-size: 1.2rem;
    margin-bottom: 1.4em;
}

.green-time{
    color: var(--clr-time-green);
    text-shadow: 1px 1px 1px var(--clr-time-shadow);
}

button {
    width: 3.175rem;
    height: 3.175rem;
    border-radius: 0.238125em;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 1.286875rem;
    text-align: center;
    background-color: var(--clr-white);
    border: none;
    box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.green-btn{
    background-color: var(--clr-btn-green);
}

.roll{
    background-color: var(--clr-btn-roll);
    color: var(--clr-white);
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 16.38px;
    text-align: center;
    width: 92px;
    margin-top: 2.5em;
}